<div class="containerCls">
  <!--<div id="startSurvey">
<div> Please click "Start Survey" to take the survey</div>
<button id="surveyBtn" (click)="startTheSurvey($event)" class="btnCls">Start the Survey!</button>
</div>
<router-outlet></router-outlet>-->
<div id="surveySection" class="surveySectionCls">
<img class="backBtnCls" *ngIf="showBackButton" src="assets/prev.jpg" (click)="prevQuestion($event)">
<div class ="" *ngIf="!endOfQuestionnaire; else elseBlock">
  <div class="wizardCls">Step {{index+1}} of {{total}}</div>
  <div class="headingCls">{{myJson[index].title}}</div>
  <div class="questionCls">{{myJson[index].question}}</div>
<div class="looperDivCls" *ngFor="let answer of myJson[index].answers">
  <div class="btnContainer">
  <button class="btnCls" value={{answer.score}} (click)="nextQuestion($event)">{{answer.value}}</button>
</div>
</div>
</div>
<ng-template #elseBlock><div class="resultsCls">Thank you for taking the survey. 
  Your score is <b>{{surveyScore}}</b></div>
</ng-template>
</div>
</div>